exudyn>=1.9.0
stable-baselines3[extra]==2.8.0
matplotlib
scipy
tensorboard
gymnasium[classic-control]
pyglet
jupyterlab
jupyterlab-rise 
ipywidgets 
scikit-learn
hf_xet
jupyterlab
ipywidgets

transformers
accelerate
openai
dotenv
librosa
opencv-python
mistral-common[opencv]
torchvision

